body {
  font-family: "Lato", sans-serif;
  max-width: 75rem;
  margin: auto;
  height: 100vh;
}

header {
  background-image: url(SharingFood.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  width: 100%;
  margin: auto;
}

/**** Menu Style *****************************************/
nav {
  border-bottom: 1px solid black;
}

ul.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navlist li {
  float: left;
  display: inline;
}

ul.navlist li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navlist li a:hover {
  background-color: #111;
}

/**** Layout for main ************************************/
main {
  border-bottom: 0.5rem solid;
  box-sizing: border-box;

  /* Flexible two-column layout */
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 24rem;
}

section,
aside {
  padding: 0.5rem;
  box-sizing: border-box;
  min-height: 100%;
}

aside {
  /* fluid left column */
  flex: 0 0 25%;
  min-width: 12rem;
  max-width: 30%;
  background-color: #deded8;
}

section {
  /* fluid right column */
  flex: 1 1 75%;
}

/* Styling for search in aside */
.search {
  display: block;
  width: 100%;
  max-width: 14rem;
}

/* Form box centered in the section */
.center {
  border: 3px solid green;
  padding: 1rem;
  width: 60%;
  margin: 1rem auto;
  background: #fff;
}

/* Form input layout */
.textInput {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 0.6rem;
}

.textInput input[type="text"],
.textInput input[type="email"],
.textInput input[type="password"] {
  display: block;
  width: 100%;
  max-width: 18rem;
  margin-top: 0.25rem;
}

.actions {
  margin-top: 0.75rem;
}

.actions button {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

/* Responsive: stack columns on small screens */
@media screen and (max-width: 700px) {
  main {
    flex-wrap: wrap;
  }

  aside,
  section {
    flex: 1 0 100%;
    width: 100%;
  }

  .center {
    width: 90%;
  }

  #hiddenSection {
    overflow-wrap: break-word;
  }
}
